body {
  background: url("../assets/retreat.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

#tab-bar {
  width: 500px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.tab {
  padding: 10px;
  background-color: rgba(240, 104, 0, 0.65);
  list-style: none;
  cursor: pointer;
}

.tab:hover {
  background-color: rgba(240, 104, 0, 1);
}

#menu-tab-bar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

#content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(53, 33, 19, 0.75);
}

.form-group {
  max-width: 500px;
  padding: 0 20px 10px 20px;
  margin: 0 auto;
}

.menu-grid {
  display: grid;
  margin-top: 1rem;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.menu-item-pic {
  position: relative;
  width: 90%;
  height: 150px;
  margin: auto;
}

.menu-item-pic h3 {
  position: relative;
  top: 3rem;
}
