body {
  background: url("./assets/retreat.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

#tab-bar {
  width: 500px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.tab {
  padding: 10px;
  background-color: rgba(240, 104, 0, 0.65);
  list-style: none;
  cursor: pointer;
}

.tab:hover {
  background-color: rgba(240, 104, 0, 1);
}

#content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(53, 33, 19, 0.75);
}
